@media screen and (min-width: 480px) {
  body {
    min-width: 1030px;
  }

  // 共通
  .container {
    width: 103rem;
    padding: 0;
    margin: 0 auto;
  }
  .sub-title {
    font-size: 2.4rem;
    margin-bottom: 4rem;
  }

  // header
  header {
    width: 100%;
    display: flex;
    align-items: center;

    h1 {
      line-height: normal;
    }
    .container {
      width: 1200px;
    }

    .header-nav {
      .hamburger-menu {
        display: none;
      }

      .menu {
        display: block;
        width: 27rem;
        ul {
          display: flex;
          justify-content: space-between;
          li > a {
            color: #fff;
            font-size: 1.6rem;
            transition: 0.2s;
          }
          li > a:hover {
            color: darken($color: #fff, $amount: 30%);
          }
        }
      }
    }
  }
  // end of header

  // top
  .top {
    min-height: 74rem;
    height: 50vw;
    background-image: url("../img/fv-bgi@2x.jpg");
  }
  // end of top

  // service
  .service {
    width: 100%;
    height: 24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .service-text {
      width: 48rem;
    }

    .service-image {
      width: 48rem;
      height: 100%;
      margin-top: 0;
    }
  }
  .service:nth-of-type(1) {
    .service-text {
      order: 2;
    }
  }
  //end service

  // news
  .newses {
    display: flex;
    justify-content: space-between;
  }
  .news {
    width: 32rem;
    box-shadow: 0 0 0.6rem rgba(27, 19, 16, 0.4);
    margin: 0;
  }
  .news:nth-of-type(n + 2) {
    margin-top: 0;
  }
  // end of news

  // contact
  .contact {
    width: 70rem;
    margin: 0 auto;
  }
  // end of contact

  //footer
  footer {
    height: 8rem;
  }
  //end of footer
}
