@charset "UTF-8";
body {
  min-width: 375px;
}

.container {
  width: 37.5rem;
  padding: 0 1.5rem;
}

.container > section {
  padding: 10rem 0 5rem 0;
}

.title {
  font-size: 3.6rem;
  letter-spacing: 0.05em;
  margin-bottom: 7rem;
  font-weight: bold;
  text-align: center;
}

.sub-title {
  font-family: "noto sans cjk jp", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.1em;
  line-height: 2;
  margin-bottom: 3rem;
}

.read {
  font-family: "noto sans cjk jp", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  line-height: 3rem;
}

header {
  width: 37.5rem;
  background-color: #1b1310;
  height: 7.5rem;
  position: fixed;
  top: 0;
  z-index: 10;
  border-bottom: 2px solid #fff;
}

header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  font-size: 20px;
  color: #fff;
  line-height: 7.5rem;
}

header .hamburger-menu {
  width: 2.5rem;
  height: 1.6rem;
  cursor: pointer;
  margin-top: 25px;
  position: relative;
}

header .hamburger-menu .humbergar-menu-line,
header .hamburger-menu .humbergar-menu-line::before,
header .hamburger-menu .humbergar-menu-line::after {
  z-index: 100;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  display: block;
  width: 100%;
  height: 0.2rem;
  background: #fff;
}

header .hamburger-menu .humbergar-menu-line::before,
header .hamburger-menu .humbergar-menu-line::after {
  content: "";
}

header .hamburger-menu .humbergar-menu-line {
  top: 0;
}

header .hamburger-menu .humbergar-menu-line::before {
  top: calc((16px - 2px) / 2);
}

header .hamburger-menu .humbergar-menu-line::after {
  top: calc(16px - 2px);
}

header .hamburger-menu #check:checked ~ .humbergar-menu-line::before {
  display: none;
}

header .hamburger-menu #check:checked ~ .humbergar-menu-line {
  z-index: 10;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0.7rem;
}

header .hamburger-menu #check:checked ~ .humbergar-menu-line::after {
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

header .nav-page {
  width: 37.5rem;
  height: 66.5rem;
  background-color: #1b1310;
  position: relative;
  left: -33.5rem;
  bottom: 69rem;
  -webkit-transition: 1s;
  transition: 1s;
}

header .nav-page nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-page nav ul {
  height: 24.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-page nav ul li a {
  color: #fff;
  font-size: 1.6rem;
}

header #check:checked ~ .nav-page {
  bottom: 2.5rem;
}

.top {
  height: 66.5rem;
  background-image: url("../img/fv-bgi_sp@2x.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .top-text {
  width: 30rem;
  height: 10rem;
  border: 0.2rem solid #fff;
  color: #fff;
  font-size: 3rem;
  letter-spacing: 0.05em;
  text-align: center;
  line-height: 10rem;
}

.service-image {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 4rem;
}

.service:nth-of-type(2) {
  margin-top: 5rem;
}

.news {
  width: 32rem;
  -webkit-box-shadow: 0 0 0.6rem rgba(27, 19, 16, 0.4);
          box-shadow: 0 0 0.6rem rgba(27, 19, 16, 0.4);
  margin: 0 auto;
}

.news .text-box {
  padding: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .text-box .news-text {
  width: 25.5rem;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W6", sans-serif;
  font-size: 1.3rem;
  line-height: 1.92;
  letter-spacing: 0.05em;
}

.news:nth-of-type(n + 2) {
  margin-top: 5rem;
}

.contact {
  width: 100%;
}

.contact label {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W6", sans-serif;
  letter-spacing: 0.05em;
}

.contact label,
.contact input,
.contact textarea {
  font-size: 1.6rem;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 0.5rem;
  border-color: #141414;
}

.contact input {
  margin-bottom: 2.2rem;
  height: 3rem;
}

.contact textarea {
  height: 17rem;
}

.contact div {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}

.contact div button {
  width: 23.5rem;
  height: 6rem;
  background-color: #1b1310;
  border-radius: 3rem;
  color: #fff;
  font-size: 2rem;
  -webkit-box-shadow: 0 0 0.6rem #1b1310;
          box-shadow: 0 0 0.6rem #1b1310;
}

footer {
  background-color: #1b1310;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
}
/*# sourceMappingURL=style.css.map */